{% extends "base.html" %}
{% block content %}
<h1>Content#{{content_id}}</h1>
<form method="POST" action="/content/{{content_id}}/comment">
    <input name="comment">
    <input type="submit" value="submit">
</form>

<h3>Comments</h3>
{% for comment in comments %}
    <p>{{comment.key}} {{comment.nickname}} {{comment.created_at}}</p>
    <form method="post" action="/content/{{content_id}}/comment/{{comment.key.id()}}/delete">
        <input type="submit" value="Delete">
    </form>
    <blockquote>{{comment.comment}}</blockquote>
{% endfor %}

{% endblock content %}
