{% extends "base.html" %}
{% block outcontent %}


<div class="view_1">
    <div class="container">
        <div class="col-md-7"><img src="/img/1.png" /></div>
        <div class="col-md-5">
            <h1><br /><br />View and Share</h1>
            <p style="font-size: 20px">View bidding opportunities and share them via Facebook, Twittter or Email</p>
            <br /><a href="/bidinfo" type="button" class="btn btn-lg btn-primary">View Projects</a>
        </div>

    </div>

</div>
<br />
<div class="view_2">
    <div class="container">
        <div class="col-md-5">
            <h1><br /><br />Scrutinize Awards</h1>
            <p style="font-size: 20px; color: white">Review awarded projects and flag them when you find something anomalous.</p>
            <br /><a href="/award" type="button" class="btn btn-lg btn-danger">View Awards</a>
        </div>
        <div class="col-md-7"><br /><img style="float:right" width="451" src="/img/2.png" /></div>

    </div>

</div>

<div class="view_3">
    <br />
    <div class="container">
        <div class="col-md-7"><img src="/img/3.png" /></div>
        <div class="col-md-5">
            <h1><br /><br />Explore the data</h1>
            <p style="font-size: 20px">Play with interactive charts and share your insights</p>
            <br /><a href="/content/explore" type="button" class="btn btn-lg btn-warning">View Data Visualization</a>
        </div>

    </div>
     <br /><br />

</div>

{% endblock outcontent %}


